body {
  font-family: verdana;
}
form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.error {
  background-color: tomato;
  padding: 0.5rem;
  color: cornSilk;
}



nav a.active {
  border: 1px solid black;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row > * {
  flex-basis: 0;
  min-width: 0;
  flex-grow: 1;
}